.compartiment-details-content {
  position: relative;
  top: 60px;
  padding: 20px;
  background-color: #ffffff; /* Fond blanc */
  font-family: 'Arial', sans-serif; /* Police sans-serif pour une meilleure lisibilité */
}

.header-section {
  background-color: #012c02; 
  color: #ffffff; /* Texte en blanc */
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre portée pour un effet de profondeur */
}

.header-section h2 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
}

.header-section p {
  margin: 5px 0;
  font-size: 16px;
}

.details-section {
  background-color: #f5f5f5; /* Fond gris très clair */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.details-section h3 {
  margin-top: 0;
  color: #28a745; /* Vert */
}

.action-buttons {
  margin-top: 20px; 
}

.btn-modifier {
  --background: #028418; /* Vert */
  --color: #fff;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.btn-modifier:hover {
  background-color: #218838; /* Vert plus foncé au survol */
}

.btn-supprimer {
  --background: #940d0d; /* Vert */
  --color: #fff;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.btn-supprimer:hover {
  background-color: black; /* Rouge plus foncé au survol */
}
