.logement-details-content {
    position: relative;
    top: 40px; 
}

.logement-details-row {
    text-align: center;
}

.search-filter-section {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-filter-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.custom-searchbar {
    --background: #f1f1f1;
    --placeholder-color: #555;
    --color: #333;
    width: 100%;
    border-radius: 5px;
}

.custom-select {
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
}

.control-section {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.button-center {
    display: flex;
    justify-content: center; /* Centre le bouton */
}

.custom-button {
    --background: #028418;
    --color: #fff;
    margin-right: 10px;
    font-size: 12px; /* Taille du texte réduite */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.custom-button:hover {
    --background: #4caf50;
    --color: white;
}

.compartiment-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.compartiment-col {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.compartiment-card {
    width: 100%;
    max-width: 350px;
    border: 2px solid #028418; /* Bordure verte */
    border-radius: 10px;
}

.compartiment-name {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.compartiment-type {
    font-size: 0.9em;
    color: #888;
    text-align: center; /* Centre le type */
    margin-bottom: 10px; /* Ajout d'un espacement sous le type */
}
